body {
  font-family: 'Rubik', sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
  background-image: linear-gradient(to bottom, #0f172a, #334155);
  color: #f8fafc;
}

.navbar-title {
  font-family: 'Agbalumo';
  font-size: larger;
  margin-left: 0.5rem;
  // text-shadow:1px 0 1px #94a3b8;
}

.navbar-user-info {
  display: flex;
  margin: 0.5rem;
}

.navbar-cash,
.logout-username,
.logout-button {
  margin: 0 0.5rem;
}

.navbar-bracket:hover,
.navbar-bets:hover {
  cursor: pointer;
}

.logout-button {
  background-color: rgba(192, 4, 4, 0.801);
  padding: 0 1rem;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
}

.logout-button:hover {
  cursor: pointer;
}

.bracket-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-button,
.fast-forward-button {
  background-color: aqua;
  height: 35px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 15px 30px;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
}

.reset-button:hover,
.fast-forward-button:hover {
  cursor: pointer;
}

.bets-container {
  background-color: #99a0a8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




// ------------------------------------------
// CREDIT FOR TOURNAMENT BRACKET CSS AND COMPONENT GOES TO Serhii Dudnyk, https://codepen.io/sdudnyk/pen/bWbqMb
$side-margin: 50px;
$vertical-margin: 10px;

body {
  background-color: DarkSalmon;
}

.wrapper {
  display: flex;
  height: auto;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row-reverse;
  p {
    padding: 20px;
    margin: 0;
    background-color: Beige;
  }



  &-parent {
    position: relative;
    margin-left: $side-margin;
    display: flex;
    align-items: center;
    &:after {
      position: absolute;
      content: '';
      width: calc($side-margin/2);
      height: 2px;
      left: 0;
      top: 50%;
      background-color: #fff;
      transform: translateX(-100%);
    }
  }
  &-childrens {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-color: #fff;
      right: 0;
      top: 50%;
      transform: translateX(100%);
      width: 25px;
      height: 2px;
    }
    &:after {
      content: '';
      position: absolute;
      background-color: #fff;
      right: calc($side-margin / -2);
      height: calc(50% + 22px);
      width: 2px;
      top: 50%;
    }
    &:last-child {
      &:after {
        transform: translateY(-100%);
      }
    }
    &:only-child:after {
      display: none;
    }
  }
}
