html {
  background-image: radial-gradient(#475569, #0f172a);
}

body {
  font-family: 'Rubik', sans-serif;
}

.signup-page{
  height: 100vh;
  background-image: linear-gradient(to bottom, #0f172a, #334155);
  display: flex;
  justify-content: center;
}

.signup-container{ 
  background-color: #bfd6ee;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
  background-image: linear-gradient(to bottom, #0f172a, #334155);
  color: #f8fafc;
}

.navbar-title {
  font-family: 'Agbalumo';
  font-size: larger;
  margin-left: 0.5rem;
  // text-shadow:1px 0 1px #94a3b8;
}

.navbar-user-info {
  display: flex;
  margin: 0.5rem;
}

.navbar-cash,
.logout-username,
.logout-button {
  margin: 0 0.5rem;
}

.navbar-bracket:hover,
.navbar-bets:hover {
  cursor: pointer;
}

.logout-button {
  background-color: rgba(192, 4, 4, 0.801);
  padding: 0 1rem;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 10px;
}

.logout-button:hover {
  cursor: pointer;
}

.tournament-bracket-container {
  // background-image: linear-gradient(to bottom right, #475569 , #0f172a );
  background-image: radial-gradient(#475569, #0f172a);
}
// #0f172a
// #475569
.bracket-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-button,
.fast-forward-button {
  background-color: #bfd6ee;
  height: 35px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 15px 30px;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
}

.reset-button:hover,
.fast-forward-button:hover {
  cursor: pointer;
}

.bets-page {
  height: 100vh;
  background-image: radial-gradient(#475569, #0f172a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bets-container {
  background-color: #99a0a8;
  border-radius: 10px;
  padding: 20px 50px 50px 50px;
  border: solid;
  border-color: #f1f5f9;
  box-shadow: 0px 0px 40px 20px #334155;
  margin-top: 10px;
}

.bet-team-odds-container {
  display: flex;
  justify-content: space-between;
  color: #f1f5f9;
  text-shadow: 1px  1px #0f172a;
  font-size: xx-large;
  margin: 10px;
}

.bet-team {
  margin: 0 20px;
}

.bet-input-form {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.bet-input {
  height: 20px;
  border-radius: 5px;
  border-top-color: #f1f5f9;
  border-left-color: #f1f5f9;
  padding: 5px;
}

.bet-place-button{
  background-color: #bfd6ee;
  border-radius: 5px;
}

.bet-separator {
  height: 0px;
  border: solid;
  border-color: #0f172a;
}

.no-matches-statement {
  // background-color: rgba(15, 23, 43, 0.3);
  color: #f8fafc;
  font-style: oblique;
  font-size: xx-large;
}

/** CREDIT FOR CIRCLE CSS GOES TO Praveen Kumar Purushothaman ON STACK OVERFLOW, https://stackoverflow.com/questions/41051094/making-a-plus-sign-with-css  */

.circle {
  border-radius: 50%;
  margin-top: 5px;
  width: 20px;
  height: 20px;
  background-color: rgb(44, 108, 128);
  position: relative;
}
.circle::after {
  content: ' ';
  position: absolute;
  display: block;
  background-color: #fff;
  height: 3px;
  width: 11px;
  margin-top: -1.5px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.circle::before {
  content: ' ';
  position: absolute;
  display: block;
  background-color: #fff;
  width: 3px;
  margin-left: -1.32px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

.circle:hover {
  cursor: pointer;
}

// ------------------------------------------
// CREDIT FOR TOURNAMENT BRACKET CSS AND COMPONENT GOES TO Serhii Dudnyk, https://codepen.io/sdudnyk/pen/bWbqMb
$side-margin: 50px;
$vertical-margin: 10px;

body {
  background-color: #475569;
}

.wrapper {
  display: flex;
  height: auto;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row-reverse;
  p {
    padding: 20px;
    margin: 0;
    background-color: #f1f5f9;
    box-shadow: 7px 5px 5px 5px #1e293b;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .points-box {
    border-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &-parent {
    position: relative;
    margin-left: $side-margin;
    display: flex;
    align-items: center;
    &:after {
      position: absolute;
      content: '';
      width: calc($side-margin/2);
      height: 2px;
      left: 0;
      top: 50%;
      background-color: #fff;
      transform: translateX(-100%);
    }
  }
  &-childrens {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-child {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background-color: #fff;
      right: 0;
      top: 50%;
      transform: translateX(100%);
      width: 25px;
      height: 2px;
    }
    &:after {
      content: '';
      position: absolute;
      background-color: #fff;
      right: calc($side-margin / -2);
      height: calc(50% + 22px);
      width: 2px;
      top: 50%;
    }
    &:last-child {
      &:after {
        transform: translateY(-100%);
      }
    }
    &:only-child:after {
      display: none;
    }
  }
}
